<div class="header-wrapper">
    <div class="header">
        <div class="header-btn back hide">BACK</div>
        <div class="header-btn favorite {{ this.oneNews.get('favorite') && 'added' }}">FAV</div>
        <div class="header-btn sharing">F</div>
        <div class="header-btn font">
            <div class="font-popup"><span class="font-small">t</span>|<span class="font-big">T</span></div>
            T
        </div>
    </div>
    <div class="message">No Internet!</div>
</div>
<div class="wrapper native-scroll">
    <div class="shadow {{ this.settings.get('shadow') ? '' : 'hide' }}" style="opacity: {{ this.settings.get('shadow') }}"></div>
    <div class="swipe-view parallax">
        {{# var path = this.oneNews.get('bigImageDownloaded') ? settings.rootPath + settings.bigImage + '/' + this.oneNews.get('imageName') : this.oneNews.get('bigImage'); }}
        <div class="big-placeholder-image par-img parallax__layer">
            <div class="big-image" style="background-image: url({{ path }})"></div>
        </div>
        <div class="par-text parallax__layer" style="font-size: {{ this.settings.get('font') + 'px' }}">
            {{ this.oneNews.get('fullText') }}
        </div>
    </div>
</div>
