<div class="header">
    <div class="header-btn back">BACK</div>
    HEADER
    <div class="header-btn favorite {{ this.oneNews.get('favorite') && 'added' }}">FAV</div>
    <div class="header-btn sharing">F</div>
    <div class="header-btn font">
        <div class="font-popup"><span class="font-small">t</span>|<span class="font-big">T</span></div>
        T
    </div>
</div>
<div class="wrapper native-scroll">
    <div class="swipe-view parallax">
        <div class="par-img parallax__layer" style="background-image: url({{ this.oneNews.get('bigImage') }})">
        </div>
        <div class="par-text parallax__layer" style="font-size: {{ this.settings.get('font') + 'px' }}">
            {{ this.oneNews.get('fullText') }}
        </div>
    </div>
</div>
