@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
html {
    height: 100%;
    overflow: hidden;
}
body{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 700;
}
.wrapper{
    position: absolute;
    top: 64px;
    bottom: 0;
    width: 100%;
}
a {
    color: #a00303;
}
img {
    width: 100%;
}
.news-list-view .wrapper{
    top: 0;
}
.hide{
    display: none !important;
}
.stop-scrolling {
    /*height: 94.5%;*/
    overflow: hidden;
}
.swipe-view{
    min-height: 100%;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
}
.header-wrapper{
    height: 64px;
    width: 100%;
    position: absolute;
    background: #a00303;
    text-align: center;
    z-index: 6;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.header-wrapper.hidden{
    transform: translateY(-64px);
    -webkit-transform: translateY(-64px);
}
.header{
    line-height: 64px;
    height: 64px;
    width: 100%;
    position: absolute;
    background: #c60304;
    text-align: center;
    z-index: 5;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.header.hidden{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}
.sub-menu{
    background: white;
    position: absolute;
    width: 100%;
    z-index: 4;
    bottom: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.message{
    background: black;
    color: white;
    position: absolute;
    height: 50px;
    line-height: 50px;
    width: 100%;
    z-index: 3;
    bottom: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}
.message.show{
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}
.sub-menu.open{
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}
.update-message:before{
    content: attr(data-count) ' новых новостей';
    line-height: 40px;
    color: white;
}
.update-message{
    opacity: 0.6;
    background: black;
    font-size: 20px;
    color: white;
    line-height: 40px;
    height: 40px;
    position: absolute;
    width: 100%;
    z-index: 3;
    bottom: 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.update-message.show{
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}
.sub-menu-item{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    background: #919191;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.header-btn {
    display: inline-block;
    height: 100%;
    line-height: 64px;
    float: left;
    width: 10%;
    background: #99ff65;
}
.one-news-view .header-btn {
    width: 15%;
}
.favorites-button{
    float: right;
}
.news-topic{
    height: 100%;
    line-height: 64px;
    display: inline-block;
    color: #fff;
    float: left;
    min-width: 150px;
    max-width: 250px;
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
}
.news-topic span{
    font-size: 12px;
}
.news-list-view{
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    z-index: 200;
}
/*.news-list-view .header{*/
    /*-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);*/
    /*box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);*/
/*}*/
.news-list-view .header-btn{
    position: relative;
    width: 18px;
    height: 64px;
    top: 0;
    background: transparent;
    left: 0;
    margin: 0 38px 0 24px;
}
.header-btn-icon{
    display: block;
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    background: #fff;
}
.header-btn-icon::before {
    top: -250%;
}
.header-btn-icon::after {
    top: 250%;
}
.header-btn-icon::before, .header-btn-icon::after{
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    box-sizing: border-box;
    content: "";
}
.news-list-view.open {
    transform: translateX(90%);
    -webkit-transform: translateX(90%);
}
.arrow{
    position: relative;
    transform-origin: center center;
    -webkit-origin: center center;
}
.arrow-img{
    position: relative;
    width: 50px;
    height: 50px;
}
.pull-down{
    position: relative;
    line-height: 64px;
    text-align: center;
    height: 64px;
    background: #fff;
}
.refresh{
    background: #ddd;
    height: 100%;
    margin: auto;
    width: 0;
}
.news-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.news-list li {
    height: 216px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #d1d1d1;
    position: relative;
}
.one-news.viewed{
    background: #ededed;
}
.news-date{
    padding: 18px 24px;
    color: #c60304;
    font-weight: 400;
    font-size: 16px;
}
.par-text .news-date{
    padding: 36px 0;
}
.par-text .news-title{
    padding: 0 0 30px 0;
    text-transform: none;
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
}
.shadow{
    position: fixed;
    z-index: 6;
    opacity: 0;
    background: #000000;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.shadow.animated{
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}
.favorite-news{
    background: url("../img/favorite-icon.png") no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5%;
    top: 25px;
}
.one-news.remove{
    transform: translateX(-100%) !important;
    -webkit-transform: translateX(-100%) !important;
}
.one-news.stay{
    transform: translateX(0) !important;
    -webkit-transform: translateX(0) !important;
}
.small-img {
    height: 90px;
    width: 142px;
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/small_placeholder.png');
    margin: 0 12px 20px 24px
}
.small-img-placeholder{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.news-title{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    margin: 0 10px;
    padding: 0 70px 0 0;
}
.news-description{
    clear: both;
    margin: 0 28px 20px 24px;
    font-weight: normal;
    font-size: 21px;
    color: #000;
}
.parallax{
    perspective: 1px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.stop-scrolling .parallax{
    overflow-y: hidden;
}
.parallax__layer {
    position: relative;
    min-height: 50%;
    box-sizing: border-box;
    transform-style: inherit;
    -webkit-transform-style: inherit;
}
.parallax__layer, .parallax__layer:before {
    background: 50% 50% / cover;
}
.parallax__layer.par-img{
    transform: translateZ(-1px) translateY(-45%) scale(2);
    -webkit-transform: translateZ(-1px) translateY(-45%) scale(2);
    z-index: -1;
    position: relative;
}
.big-image{
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
}
.big-placeholder-image{
    background-image: url('../img/big_placeholder.png');
}
.parallax__layer.par-text{
    background: white;
    padding: 0 24px;
    /*background-attachment: fixed;*/
}

/*--------------------------------------SIDEBAR MENU---------------------------------*/
.sidebar-menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.header .circle{
    font-family: 'PT Sans', sans-serif;
    display: inline-block;
    text-align: center;
    border-radius:50%;
    height: 24px;
    width: 24px;
    line-height: 24px;
    float: left;
    background: #fff;
    color:#d20304;
    text-transform: uppercase;
    font-size: 12px;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    margin: 0 20px;
}
.sidebar-title{
    background: url("../img/logo.png");
    display: inline-block;
    width: 232px;
    height: 30px;
    vertical-align: middle;
}
.menu-list{
    /*-webkit-box-shadow: 7px 0px 5px -5px rgba(0,0,0,0.7);*/
    /*-moz-box-shadow: 7px 0px 5px -5px rgba(0,0,0,0.7);*/
    /*box-shadow: 7px 0px 5px -5px rgba(0,0,0,0.7);*/
}
#sidebar-menu .sidebar-menu-view.animated{
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
#sidebar-menu .sidebar-menu-view{
    /*background: #2fb5ff;*/
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    z-index: 400;
    width: 320px;
}
.side-wrap{
    position: relative;
    top: 0;
    bottom: 0;
    background-color: #e2e2e2;
    height: 100%;
    width: 100%;
}
.side-wrap .header{
    text-align: left;
}
#sidebar-menu .sidebar-menu-view.open{
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.sidebar-menu-view li{
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: #e2e2e2;
    position: relative;
    border-bottom: 1px solid #CACACA;
}
.sidebar-text{
    color: #666666;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    margin-left: 26px;
}
.sidebar-menu-view li.active{
    opacity: 0.5;
}
.sidebar-menu-view li.selected{
    background: #fff;
}
li.selected .sidebar-text{
    color: #c60304;
}
.support{
    position: absolute;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: left;
    border-top: 1px solid #CACACA;
    background: #e2e2e2;
}
.support-text{
    font-size: 17px;
    font-weight: 400;
    color: #434343;
    font-family: 'PT Sans', sans-serif;
}
.support .dev-icon{
    content: url("../img/dev_icon.png");
    margin: 8px 12px 8px 24px;
    float: left;
}
.app-version{
    font-family: 'PT Sans', sans-serif;
    float: right;
    margin-right: 14px;
    color: #ababab;
    font-size: 15px;
}
.mover-wrapper{
    position: absolute;
    width: 14px;
    height: 50px;
    top: 0;
    right: 26px;
}
.mover{
    display: block;
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    height: 3px;
    width: 100%;
    background: #ababab;
}
.mover::before {
    top: -6px;
}
.mover::after {
    top: 6px;
}
.mover::before, .mover::after{
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ababab;
    box-sizing: border-box;
    content: "";
}
.mover-wrapper::before{
    margin-left: -48px;
    display: inline-block;
    content: attr(data-count);
    width: 26px;
    text-align: center;
    font-weight: 400;
    font: 13px/26px 'robotoregular';
    border-radius: 50%;
    background: #d1d1d1;
    color: #434343;
}

/*--------------------------------------ONE NEWS---------------------------------*/
.one-news-view{
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    z-index: 400;
    background: white;
}
/*.one-news-view .header{*/
    /*-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);*/
    /*-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);*/
    /*box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);*/
/*}*/
/*TODO refactor*/
.one-news-view .native-scroll{
    top: 0px;
}

.one-news-view.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.header-btn.favorite{
    background: url("../img/ic_favorites.png") center center no-repeat;
    float: right;
}
.header-btn.favorite.added{
    background: url("../img/ic_favorites_filled.png") center center no-repeat;
    float: right;
}
.header-btn.sharing{
    background: url("../img/ic_share.png") center center no-repeat;
    float: right;
}
.header-btn.font{
    position: relative;
    background: url("../img/ic_fontsize.png") center center no-repeat;
    float: right;
}
.font-popup{
    border-radius: 8px;
    position: absolute;
    width: 234px;
    background: #c50304;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -webkit-transform: translateY(86%) translateX(-28.5%) rotateX(90deg);
    transform: translateY(86%) translateX(-28.5%) rotateX(90deg);
    height: 90px;
    line-height: 90px;
}
.arrow-up {
    position: absolute;
    margin: auto;
    top: -12px;
    left: 102px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #c50304;
}
.separator{
    background-color: #e65757;
    width: 2px;
    height: 70px;
    display: inline-block;
    margin: 10px;
}
.font.show .font-popup{
    -webkit-transform: translateY(86%) translateX(-28.5%) rotateX(0deg);
    transform: translateY(86%) translateX(-28.5%) rotateX(0deg);
}
.font-small{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    width: 40%;
    vertical-align: top;
    padding: 0;
}
.font-big{
    display: inline-block;
    color: #fff;
    font-size: 40px;
    vertical-align: top;
    width: 40%;
    padding: 0;
}
.korr-link{
    padding: 0 0 30px 0;
}
.korr-link a{
    color: #bababa;
}
.par-text p{
    color: #202020;
    line-height: 32px;
    padding-bottom: 10px;
    font-weight: 400;
}
.video-link-wrapper{
    margin: 40px 0;
}
.video-link{
    display: block;
}
.video-link > body{
    display: none;
}
.video-wrapper{
    background: url(../img/video_placeholder.png);
    background-size: cover;
    display: block;
    background-position: center;
}
.video{
    margin: auto;
    text-align: center;
    background: url(../img/video_placeholder.png);
    background-size: cover;
    display: block;
    background-position: center;
    /*width: 90%;*/
    height: 350px;
}
.video::after{
    content: '';
    background: url("../img/ic_play.png") no-repeat center center;
    display: inline-block;
    width: 100px;
    height: 350px;
    margin: auto;
    line-height: 350px;
}
.image-wrapper{
    margin-top: 40px;
    text-align: center;
}
.image-resource{
    font-size: 20px;
    color: #7b7b7b;
    font-style: italic;
    padding: 16px 0 28px 0;
    text-align: left;
}
.image-title, .video-title{
    font-size: 30px;
    text-align: left;
    padding: 0 0 20px 0;
}



/*--------------------------------------FAVORITES---------------------------------*/
.favorites-view{
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    z-index: 300;
    background: white;
}

.favorites-view.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}


/*--------------------------------------SPINNER START-----------------------------*/
/*.loader {*/
    /*font-size: 5px;*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*text-indent: -9999em;*/
    /*border-top: 0.5em solid rgba(255, 255, 255, 0.2);*/
    /*border-right: 0.5em solid rgba(255, 255, 255, 0.2);*/
    /*border-bottom: 0.5em solid rgba(255, 255, 255, 0.2);*/
    /*border-left: 0.5em solid #b0b0b0;;*/
    /*-webkit-animation: load8 1.1s infinite linear;*/
    /*animation: load8 1.1s infinite linear;*/
/*}*/
/*.loader,*/
/*.loader:after {*/
    /*border-radius: 50%;*/
    /*width: 42px;*/
    /*height: 42px;*/
/*}*/
/*@-webkit-keyframes load8 {*/
    /*0% {*/
        /*-webkit-transform: rotate(0deg);*/
        /*transform: rotate(0deg);*/
    /*}*/
    /*100% {*/
        /*-webkit-transform: rotate(360deg);*/
        /*transform: rotate(360deg);*/
    /*}*/
/*}*/
/*@keyframes load8 {*/
    /*0% {*/
        /*-webkit-transform: rotate(0deg);*/
        /*transform: rotate(0deg);*/
    /*}*/
    /*100% {*/
        /*-webkit-transform: rotate(360deg);*/
        /*transform: rotate(360deg);*/
    /*}*/
/*}*/

/*--------------------------------------SPINNER END-----------------------------*/

/*-----------------------------------ANDROID LOADER---------------------------*/
.loader {
    width: 100%;
    height: 64px;
    background-color: #fff;
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin: -40px -200px;*/
    position: relative;
}

.loader:after {
    content: "";
    position: absolute;
    background-color: #ddd;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 300px;
    animation-name: slide;
    animation-duration: 2s;
    animation-easing-function: linear;
    animation-iteration-count: infinite;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

@keyframes slide {
    0% {
        right: 360px;
        left: 2px;
    }
    5% {
        left: 2px;
    }
    50% {
        right: 2px;
        left: 360px;
    }
    55% {
        right: 2px;
    }
    100% {
        right: 360px;
        left: 2px;
    }
}
