<div class="side-wrap">
    <div class="header"><div class="lang header-btn circle">{{ RAD.languages[RAD.models.Settings.get('lang')] }}</div>
        <span class="sidebar-title"></span></div>
    <div class="wrapper">
        <div class="menu-list native-scroll swipe-view">
            <ul>
                {{# var self = this, favorites = RAD.models.AllNews.where({lang: RAD.models.Settings.get('lang'), favorite: 1}); }}
                {{# _.each(this.sidebar.toJSON(), function(item, index, items){ }}
                {{# var news = RAD.models.AllNews.where({lang: RAD.models.Settings.get('lang'), parentId: item.id, buffer: 0}); }}
                <li data-id="{{ item.id }}" class="{{# if(item.selected) { }} selected {{# } }}">
                    <span
                    {{# if(item.id === 1000) { }}
                    class="favorite-item count sidebar-text" data-count = {{ favorites.length || '' }}
                    {{# } else { }}
                    class="count sidebar-text" data-count = {{ self.getUniqueNews(news).length || '' }}
                    {{# } }}
                    >
                    {{ item.title }}
                    </span>
                    {{# if(item.id === 1000) { }}
                    <div class="mover-wrapper fav-item" data-count = {{ favorites.length || '' }}>
                        <span class="mover"></span>
                    </div>
                    {{# } else { }}
        <!--self.getUniqueNews(news).length-->
                    <div class="mover-wrapper side-item" data-count = ''>
                        <span class="mover"></span>
                    </div>
                    {{# } }}

                </li>
                {{# }) }}
            </ul>
            <div class="support">
                <span class="dev-icon"></span>
                <span class="support-text">Написать разработчикам</span>
                <span class="app-version">v.1.0</span>
            </div>
        </div>
    </div>
</div>