{{# console.log('RENDER') }}
<div class="header-wrapper">
    <div class="header">
        <div class="sidebar-button header-btn"></div>
        <div class="news-topic">{{ _.findWhere(this.selected.get('subMenus'), {selected: true}).title }}
            {{# if(this.selected.get('subMenus').length > 1) { }}
            <span>&#65516</span>
            {{# } }}
        </div>
        <!--<div class="favorites-button header-btn"></div>-->
    </div>
    <ul class="sub-menu">
        {{# _.each(this.selected.get('subMenus'), function(item, index, items){ }}
        {{# if(!item.selected) { }}
        <li data-id="{{ item.id }}" class="sub-menu-item">{{ item.title }}</li>
        {{# } }}
        {{# }) }}
    </ul>
    <div class="message">No Internet!</div>
    <div class="update-message" data-count="1"></div>
</div>
<div class="wrapper">
    <div class="background"></div>

    <div class="swipe-view news-list native-scroll">
        <div class="pull-down">
            <div class="arrow"><img src="source/assets/img/arrow.png" alt="arrow" class="arrow-img"/></div>
            <div class="loader" style="display: none">Loading...</div>
        </div>
        <div class="scroll">
            <ul class="list">
                {{# _.each(this.news.models, function(item, index, items){ }}
                <li class="one-news" data-cid="{{ item.cid }}">
                    <img class="small-img" src="{{ item.get('imagesNativeURL') || item.get('image') }}"/>
                    <div class="news-title">{{ item.get('title') }}</div>
                    <div class="favorite-news {{ !item.get('favorite') && 'hide' }}" ></div>
                </li>
                {{# }) }}
            </ul>
        </div>
    </div>
</div>
